.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

header{
	background-color: darkblue;
	color: white;
	padding: 1rem;
}

main{
	padding: 1rem;
	
}

nav{
	background-color: beige;
	color: red;
	padding: 1rem;
}

footer {
	background-color: red;
	color: green;
	padding: 1rem;
}